<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/js/vue.js"></script>
    <script src="static/js/vue-router.js"></script>
    <script src="static/js/jquery-3.5.1.js"></script>
    <link href="static/index_copy.css" rel="stylesheet">
</head>
<body>
<div id="base">
    <!--    头部-->
    <head-div :navigation_datas="navigation_datas"></head-div>
    <!--    身体-->
    <body-div></body-div>
    <!--    底部-->
    <bottom-div :navigation_datas="navigation_datas"></bottom-div>
</div>
</body>
<!--头部-->
<template id="head_style">
    <!--头部-->
    <div class="head">
        <!--    居中内容-->
        <div class="centered_content">
            <!--        内容-->
            <div class="content">
                <div class="logo_image">
                    <img src="static/images/20201122185707.png" alt="" height="52">
                </div>
                <!--            导航栏-->
                <div class="navigation">
                    <ul v-navigationselect>
                        <li v-for="tage in navigation_datas" style="float: left">
                            <a href="#">{{tage[0]}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<!--身体-->
<template id="body_style">
    <!--    身体-->
    <div class="body_1">
        <!--        居中-->
        <div class="body_center">
            <!--            内容1一-->
            <div class="content_1">
                <!--                左边内容-->
                <div class="content_1_left_content">
                    <h4>谁的蜕变没流过血，疼痛，忍着，你的善良必须带点锋芒</h4>
                    <h2>雷霆开幕 Σ( ￣□￣||)&lt;</h2>
                    <blockquote class="lead">
                        所谓的诗和远方，不过是，要把眼前的苟且，熬过了才有
                    </blockquote>
                    <p>
                        当你下定决定做一件事，那就去尽力做，即便这件事最后没有达到你的预期回
                        报，但你还是得认真、努力去完成，在这过程中，你会逐渐认识到自己的不足
                        ，认清自己真正想要什么。给自己一个期限，不用告诉所有人，不要犹豫，直
                        到你真的尽力为止
                    </p>
                    <a href="#">学到更多</a>
                </div>
                <!--                右边内容-->
                <div class="content_1_right_content">
                    <!--                    视频-->
                    <div class="video">
                        <img src="static/images/fb71671ac4451e78e6eb9863a7f1c8a9f24a61f2.jpg" alt="">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <!--            内容2-->
            <div class="content_2">
                <!--                左内容-->
                <div class="content_2_content" style="float: left" @mouseenter="content_2_left_judge=true"
                     @mouseleave="content_2_left_judge=false">
                    <img src="static/images/07dfabae0944087adeb453521591ea6a4467258b.jpg" alt="">
                    <!--           遮挡物-->
                    <transition name="excessive_picture_information">
                        <div class="shelter" v-show="content_2_left_judge">
                            <h3>
                                愿你活得又酷又潇洒，无畏无惧，拿得起又放得下，爱的时候倾尽全力，不爱了也能昂首阔步转身就走
                            </h3>
                            <p>
                                还有这世上，最不缺的就是玻璃心。你需要让自己的内心更强大，你需要让自己的能力配得上自己的梦想
                            </p>
                            <a href="#" @click="Jump_pictures_page"></a>
                        </div>
                    </transition>
                </div>
                <!--                右内容-->
                <div class="content_2_content" style="float: right" @mouseenter="content_2_right_judge=true"
                     @mouseleave="content_2_right_judge=false">
                    <img src="static/images/9c9d21e11a02340b457c287d49d1e690a4cbaad1.jpg" alt="">
                    <!--                    遮挡物-->
                    <transition name="excessive_picture_information">
                        <div class="shelter" v-show="content_2_right_judge">
                            <h3>希望你也有傲人的资本 而不是自甘堕落</h3>
                            <p>要成长，要一个人走过人山人海 </p>
                            <a href="#" @click="Jump_pictures_page"></a>
                        </div>
                    </transition>
                </div>
            </div>
            <!--            内容3-->
            <div class="content_2">
                <!--                左内容 空 -->
                <div class="content_2_content" style="float: left">

                </div>
                <!--                右内容-->
                <div class="content_2_content" style="float: right" @mouseenter="content_3_right_judge=true"
                     @mouseleave="content_3_right_judge=false">
                    <img src="static/images/d514d59a86280391c990a54ef1f77a05a354f26a.jpg" alt="">
                    <!--                    遮挡物-->
                    <transition name="excessive_picture_information">
                        <div class="shelter" v-show="content_3_right_judge">
                            <h3>
                                我可以选择认输，但是绝不放弃，即使尘埃落定我笃信的是
                                我不会知难而退，今天的我，比昨天更强，今后也一样
                            </h3>
                            <p>成长有一瞬间给我的感觉就是，并不是学会了避开危险，而是学会了不怕疼痛</p>
                            <a href="#" @click="Jump_pictures_page"></a>
                        </div>
                    </transition>
                </div>
            </div>
            <!--            内容3-->
            <div class="content_2">
                <!--                左内容-->
                <div class="content_2_content" style="float: left" @mouseenter="content_4_left_judge=true"
                     @mouseleave="content_4_left_judge=false">
                    <img src="static/images/ac16c494f1d03342c12ca28cb4f2e3589bce6f23.jpg" alt="">
                    <!--                    遮挡物-->
                    <transition name="excessive_picture_information">
                        <div class="shelter" v-show="content_4_left_judge">
                            <h3>亲爱的自己，学会控制自己的情绪，谁都不欠你，所以没有道理你跟别人随便发脾气、耍性子
                                。不要抓住回忆不放，断了线的风筝只能让它飞，放过它，更是放过自己
                            </h3>
                            <p>你需要跟自己比的唯一一个人，就是曾经的自己。你需要比一个人变得更好，那个人就是现在的你 </p>
                            <a href="#" @click="Jump_pictures_page"></a>
                        </div>
                    </transition>
                </div>
                <!--                右内容 空  -->
                <div class="content_2_content" style="float: right"></div>
            </div>
        </div>
    </div>
</template>
<!--底部-->
<template id="bottom_style">
    <div class="bottom_placeholder">
        <div class="bottom_center">
            <!--            导航栏-->
            <div class="bottom_navigation">
                <ul>
                    <li v-for="tage in navigation_datas" style="float: left">
                        <a href="#">{{ tage[0] }}</a>
                    </li>
                </ul>
            </div>
            <!--            搜索框-->
            <div class="bottom_search_box">
                <input type="text" placeholder="搜索">
            </div>
        </div>
    </div>
</template>

<script src="static/js/index_copy.js"></script>
</html>