* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.head {
    height: 92px;
    width: 100%;
    /*border: 1px solid;*/
    margin-bottom: 20px;
}

.centered_content {
    width: 1278px;
    height: 52px;
    /*border: 1px solid;*/
    margin-left: auto;
    margin-right: auto;
    transform: translate(0px, calc(92px / 2 - 50%));
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}

.navigation {
    float: right;
    width: calc(7 * 90px);
    height: 52px;
    /*border: 1px solid;*/
}

.logo_image {
    display: inline-block;
}

.navigation li > a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #076799;
    font-size: 15px;
}

.navigation li {
    width: 90px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.body_1 {
    width: 100%;
}

.body_center {
    width: 1170px;
    height: 1599px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid;*/
}

.content_1 {
    width: 1170px;
    height: 346px;
    margin: auto;
    margin-bottom: 78px;
}

.content_1_left_content {
    width: 585px;
    height: 290px;
    float: left;
}

.content_1_left_content a:hover {
    background-color: #076799;
}

.content_1_left_content a {
    transition: all 0.5s;
}

.content_1_left_content h4 {
    color: #cd1713;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.content_1_left_content h2 {
    font-weight: bold;
    font-size: 38px;
    color: #1f1f1f;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    text-transform: none;
}

.lead {
    padding-top: 10px;
    font-size: 16px;
    font-style: italic;
    color: #999;
    padding-bottom: 10px;
    padding-left: 15px;
    border-left: 5px solid #eee;
}

.content_1_left_content p {
    margin: 0 20px 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #999;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
    line-height: 1.80857;
}

.content_1_left_content a {
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    background: #f44336;
    padding: 10px 40px;
    font-size: 18px;
    text-decoration: none;
    outline: none;
}

.content_1_right_content {
    float: right;
    width: 555px;
    height: 346px;
    display: inline-block;
}

.video {
    position: relative;
}

.video img {
    width: 100%;
    border-radius: 5px;
}

.video a {
    position: absolute;
    top: calc(555px / 2 - 50%);
    z-index: 12;
    width: 100%;
    height: 108px;
    left: 0px;
    display: inline-block;
}

.video a:before {
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 33px;
    left: 252px;
    background-image: url("./images/播放.png");
}

.content_2 {
    width: 100%;
    height: 376px;
    /*border: 1px solid;*/
}

.content_2_content {
    width: 573px;
    height: 100%;
    float: left;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.content_2_content img {
    width: 100%;
}

.right_content {
    width: 573px;
    height: 100%;
    float: right;
    display: inline-block;
}

.right_content img {
    width: 100%;
    float: right;
}

.shelter {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(573px - 30px * 2);
    height: calc(358px - 30px * 2);
    display: inline-block;
    background-color: #076799;
    padding: 30px;
}

.shelter h3 {
    font-size: 32px;
    color: #ffffff;
    padding: 20px 0 12px;
    margin: 0;
    box-sizing: border-box;
    visibility: visible;
    text-align: center;
}

.shelter a {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("images/链接.png");
    /*transform: translate(calc((573px - 30px * 2) / 2 - 50%));*/
    position: absolute;
    /*top: calc((573px - 30px * 2) / 2);*/
    top: 240px;
    left: calc((573px - 30px * 2) / 2);
}

.shelter p {
    color: #cccccc;
    margin-bottom: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    visibility: visible;
    text-align: center;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
    line-height: 1.80857;
}

.excessive_picture_information-leave-active,
.excessive_picture_information-enter-active {
    transition: all .75s;
}

.excessive_picture_information-leave {
    left: 0px;
}

.excessive_picture_information-leave-to {
    left: 573px;
}

.excessive_picture_information-enter {
    left: 573px;
}

.excessive_picture_information-enter-to {
    left: 0px;
}

.bottom_placeholder {
    width: 100%;
    height: 179px;
    background-color: black;
}

.bottom_center {
    width: 1170px;
    height: 78px;
    margin-right: auto;
    margin-left: auto;
    /*border: 1px solid;*/
    transform: translate(0px, calc(179px / 2 - 50%));
}

.bottom_navigation li {
    margin-left: 20px;
}

.bottom_navigation a {
    color: #999;
}

.bottom_navigation a:hover {
    color: #f44336;
}

.bottom_search_box {
    width: 400px;
    height: 63px;
    float: right;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.bottom_search_box input {
    height: 100%;
    outline: none;
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #181818;
    border: none;
    font: inherit;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    width: 400px;
    padding: 18px 50px 18px 18px;
}

.bottom_search_box:after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("images/搜索.png");
    position: absolute;
    top: calc(63px / 2 - 10px);
    left: 365px;
}

.index_1_copy_body {
    width: 100%;
    background-color: #f2f3f5;
}

.index_1_copy_center_content {
    width: 1170px;
    height: 693px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid;*/
    margin-bottom: 100px;
}

.index_1_copy_content_1 {
    width: 100%;
    height: 140px;
    /*border: 1px solid;*/
    padding-bottom: 60px;
}

.index_1_copy_content_1 h3 {
    font-weight: bold;
    font-size: 42px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.index_1_copy_content_1 p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
    box-sizing: border-box;
}

.index_1_copy_left_content {
    width: 457px;
    height: 453px;
    display: inline-block;
    float: left;
}

.index_1_copy_left_content img {
    width: 100%;
    border-radius: 5px;
}

.index_1_copy_left_content h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0 20px;
    text-transform: capitalize;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0;
    letter-spacing: 0;
}

.index_1_copy_left_content p {
    margin: 0 0 10px;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #999;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
    line-height: 1.80857;
}

.index_1_copy_right_content {
    width: 682px;
    height: 492px;
    display: inline-block;
    float: right;
    /*border: 1px solid;*/
}

.index_1_copy_right_a {
    padding: 20px 0;
    display: block;
    position: relative;
    border-bottom: 1px dashed #f44336;
    box-sizing: border-box;
    color: #999;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
    line-height: 1.80857;
}

.index_1_copy_right_a img {
    max-width: 100px;
    margin: 0 30px 0 0;
    float: left;
    border-radius: 6px;
    display: block;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.index_1_copy_right_a h4 {
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 120%;
    color: #1f1f1f;
    margin: 0;
}
